@font-face {
    src: url(font/NeueMontreal-Bold.otf);
    font-family: 'acetate';
    font-weight: bold;
}

.iramax.left {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
    left: 0;
    background-color: bisque;
}

.left h1 {
    color: mintcream;
}

.iramax.right {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow: hidden;
    padding-top: 20px;
    right: 0;
    background-color: honeydew;
}

.right h1 {
    color: tomato;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'acetate';
}

.contacts {
    position: absolute;
    width: 99%;
    z-index: 2;
    text-align: center;
    font-family: 'acetate';
}

.print {
    position: absolute;
    z-index: 2;
    text-align: left;
    font-family: 'acetate';
    left: 3%;
}

.painting {
    position: absolute;
    z-index: 2;
    text-align: right;
    font-family: 'acetate';
    right: 3%;
}

.about {
    position: absolute;
    z-index: 2;
    left: 3%;
    font-family: 'acetate';
    bottom: 1%;
}

.since {
    position: absolute;
    z-index: 2;
    right: 3%;
    font-family: 'acetate';
    bottom: 1%;
}

.works {
    position: absolute;
    width: 99%;
    z-index: 2;
    text-align: center;
    font-family: 'acetate';
    bottom: 1%;
}

.header a {
    text-decoration: none;
    color: black;
}
